/* Global stylings */
body {
    background-color: #4c5c68;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
}

a {
    color: #1985a1;
    text-decoration: none;
}
a:hover {
    color: #ffb742;
    text-decoration: underline;
    transition: 0.3s;
}

/* Header, footer, and navbar */
.float-head {
    position: fixed;
    top: 0;
    width: 100%;
}

.header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282a2b;
    height: inherit;
}
.header-title {
    max-width: 98vw;
}
.header a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffb742;
    padding: 15px;
    font-size: 2.3vh;
}
.header a:hover {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #282a2b;
    text-align: center;
    color: #ffb742;
    padding: 15px;
}

nav {
    background-color: black;
    padding: 10px 0px;
    text-align: center;
}
nav ul {
    list-style: none;
    font-size: 2.2vh;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    padding: 0px 20px;
}

/* Main content stylings */
.center {
    width: 80%;
    min-width: 250px;
    margin: auto;
}

.card {
    background-color: #46494c;
    padding: 15px;
    margin: 15px 0px;
    border-radius: 10px;
    height: inherit;
    overflow: hidden;
}
.card-title {
    color: #c1d6e0;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.card-subtitle {
    color: #ffb742;
    font-weight: 900;
}

.workshop {
    border-color: #000;
    background-color: #282a2b;
    color: #fff;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    max-width: 300px;
    margin: auto;
}

.session {
    border-color: #282a2b;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}

.person {
    clear: left;
}
.team-image {
    float: left;
    width: 250px;
    border-radius: 10px;
    margin: 0px 15px 15px 0px;
}
.team-text {
    margin: 0;
}

.link-list ul {
    list-style: none;
    padding-left: 20px;
    margin: 0px;
}


/* Responsive stylings */
.buffer {
    /* Heights to accomodate header and anchor spacing for mobile devices */
    height: 16vh;
}
#schedule, #team {
    position: relative;
    float: left;
    visibility: hidden;
    top: -16.9vh;
}

@media only screen and (orientation: landscape) and (min-width: 879px) {
    /* Secures header and anchor spacing for desktop */
    .buffer {
        height: 13.3vh;
    }
    #schedule, #team {
        top: -15.3vh;
    }
}

@media only screen and (orientation: portrait) {
    .card, .session {
        padding: 30px;
    }
    nav {
        font-size: 24px;
    }
    /* Updates layout for each person in Team when smaller width*/
    .person {
        text-align: center;
    }
    .team-image {
        float: none;
        width: 95%;
        margin: 0;
    }
}